*{
    margin: 0;
}
body{
    margin: 10px;
    
}
table{
    border: 1px solid red;
    border-collapse:collapse;
    width: 100%;
    height: 30vh;
    position: fixed;
    top: 0;
    
 

}
table tr:nth-child(1){
    height: 3vh;
    background-color: rgb(68, 68, 68);
}
table tr:nth-child(2){
    height: 7vh;
    
    background-color: rgb(216, 212, 212);
}
table tr:nth-child(3){
    height: 20vh;
    background-color: rgba(224, 216, 216, 0);
}
table tr:nth-child(3) p{
    color: black;
}
table tr th p{
    text-align: left;
    color: white;
}

p{
    color: black;
}   
    
h1{
    font-family: 'Pangolin', cursive;
}
.navbar-1 a{
    text-decoration: none;
    color: white;
    margin: 0.2rem;
}
.navbar-2 a{
    text-decoration: none;
    color: black;
    margin: 0.5rem;
}
.navbar-1,.navbar-2{
    text-align: right;
}
section{
    margin-top: 300px;
}
