table{
    border: 1px solid black;
    
}
th{
    background-color: rgba(15, 14, 14, 0.728);
    color: white;
}
table tr:nth-child(odd){
    background-color: rgba(42, 41, 41, 0.118)
}
table tr:nth-child(even){
    background-color: rgba(94, 84, 84, 0.326);
}
button{
    background-color: rgba(255, 60, 0, 0.726);
    color: white;
    position: relative;
    left: 20.5rem;
    width: 9vw;
    height: 4vh;
    
}
.liste td:last-child{
    background-color: rgba(15, 14, 14, 0.679);
    color: white;
}