body{
    background-color: rgba(0, 0, 0, 0.8);
}
main{
    color:palevioletred;
    border: 2px solid purple;
}
img{
    width: 30vw;
    height: 15vh;
    float: left;
    
}
article{
    margin-top: 0.3px;
}
header{
    margin-top: -15px;
    margin-right: px;
}